<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <p>When you bring your best to the table, no matter where you are or what you are doing, you bring out the best in others. And soon, you start to realize, that, in turn, helps them bring out the best in you. That’s the upward spiral. You find each other and form an elite group of go-to people in an otherwise ordinary context. I see that happen everywhere I go: circles or networks of go-to people who help each other and go out of their way to be mutually reliable.</p>
    <p>{{data}}</p>
  </body>
</html>
